<html>
  <form action="/register_auth" method="post">
    <input type="text" name="email" placeholder="email" />
    <input type="text" name="password" placeholder="password" />
    <input type="text" name="first_name" placeholder="first_name" />
    <input type="text" name="last_name" placeholder="last_name" />
    <input type="text" name="phone" placeholder="phone" />
    <input type="text" name="institute" placeholder="institute" />
    <input type="text" name="degree" placeholder="degree" />
    <input type="text" name="branch" placeholder="branch" />
    <input type="text" name="graduate_year" placeholder="graduate_year" />
    <input type="text" name="type" placeholder="type" />
    <input type="submit" />
  </form>
</html>
