:root {
  --col_1: #ffffff;

  top: 0;
  left: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;

  text-decoration: none;
  outline: none;

  top: 0;
  left: 0;
  margin: 0;
}

section {
  top: 0;
  left: 0;
  margin: 0;
  height: 100%;
}

.notify {
  top: 92vh;
  background: #ffffff;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 0%;
  font-family: Inder;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  flex-wrap: nowrap;
  gap: 4vw;
  width: fit-content;
  transition: 0.2s ease-in-out;
  z-index: -1;
  opacity: 0;
  border: 1px solid rgb(0 0 0 / 30%);
}
.notify-content {
  color: #000;
  font-size: 1vw;
  font-weight: 500;
}

.notify-button {
  color: rgb(0, 0, 0);
  background: rgba(255, 255, 255, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
  font-weight: 600;
  min-width: 7vw;
  font-size: 1vw;
  cursor: pointer;
}
.notify-button:hover {
  background: rgba(255, 255, 255, 0);
  color: rgb(0, 0, 0);
  border-bottom: 2px solid rgb(0, 0, 0);
}
.underline {
  position: relative;
}

.underline::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #000000;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}

/* 
 */
.hno {
  cursor: pointer;
  color: inherit;
  text-decoration: underline;
}
.hno:hover {
  color: black;
  font-weight: 500;
}

.form_container {
  background-color: #ffffff;
  border: 0.15vw solid black;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  padding: 3vw;
  padding-bottom: 2.4vw;
  border-radius: 2%;
}

.form_container {
  top: 56%;
  transform: translate(-50%, -52%);
}

.login_title {
  font-size: 1.8vw;
  font-weight: 500;
  margin-top: 1vw;
}

.login_input_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  margin-top: 4vw;
  transition: 0.2s ease-in-out;
}

.login_redirect {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  font-size: 0.8vw;
}
.login_redirect a {
  text-decoration: none;
  color: #000;
  font-size: 0.7vw;
}
.login_redirect a:hover {
  text-decoration: underline;
}

.login_input {
  font-size: 0.9vw;
  padding: 0.8vw 1vw 0.8vw 1vw;
  width: 20vw;
  display: block;
  /* width: 300px; */
  border: none;
  border-bottom: 1px solid #b7b7b7;
  border: 1.1px solid #6c6c6ca0;
  background-color: white;
  color: rgb(0, 0, 0);
  border-radius: 4px;
}
.button_1 {
  width: 100%;
  height: 2.8vw;
  background: black;
  color: white;
  border: 0.2vw solid black;
  border-radius: 4px;
  font-size: 0.9vw;
  cursor: pointer;
}

.button_1:hover {
  background: rgb(80, 80, 80);
  color: white;
  border: 0.2vw solid rgb(80, 80, 80);
}

form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.google_oauth_container {
  width: 60%;
  display: flex;
  height: 2.5vw;
  opacity: 1;
  overflow: hidden;
  gap: 1vw;
  cursor: pointer;
  border: 0.09vw solid black;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  font-size: 0.8vw;
  font-weight: 700;
  align-content: center;
  margin-bottom: 0.06vw;
}

.google_oauth_text {
  width: 1.8vw;
  height: 1.8vw;
  background: url("/image/google_logo.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  border-radius: 25%;
}
.google_oauth_container:hover {
  margin-bottom: 0vw;
  border-bottom: 0.14vw solid rgb(47, 47, 47);
}

.login_or {
  padding: 2svw 0vw 3vw 0vw;
  font-size: 0.9vw;
  display: flex;
  gap: 1vw;
  align-items: center;
  padding: 1.2vw 0vw 1.2vw 0vw;
}

.lo_line {
  width: 8.4vw;
  background: rgba(0, 0, 0, 0.2);
  height: 0.05vw;
}

#passwordEye {
  display: none;
  position: absolute;
  right: 4vw;
  color: #6f6f6f;
  cursor: pointer;
}
#passwordEye:hover {
  color: #000;
}
.password_container {
  display: flex;
  align-items: center;
}

.tk_logo_full {
  height: 2.4vw;
  position: fixed;
  left: 5vw;
  top: 3vw;
}

.tk_logo_full path {
  fill: black;
}

.navigation_bar {
  height: 2.4vw;
  position: fixed;
  right: 5vw;
  top: 3vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  font-size: 0.9vw;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  background-color: rgb(255, 255, 255);
}

.login_signup a {
  font-size: 0.7vw;
  text-align: center;
  cursor: pointer;
  color: #3c3c3c;
}
.login_signup a:hover {
  color: black;
}

.login_signup {
  text-align: center;
  width: 100%;
  color: #3c3c3c;
}

input[type="number"]::-webkit-calendar-picker-indicator {
  display: none !important;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

select {
  background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>")
    no-repeat;
  background-position: calc(100% - 0.75rem) center !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  appearance: none !important;
  padding-right: 2rem !important;
}

.login_phone {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
}

.login_phone_prefix {
  position: absolute;
  left: 4vw;
  top: 18vw;
  opacity: 0;
  transition: 0.2s ease-in-out;
  font-size: 1vw;
}
#ph_number {
  transition: 0.2s ease-in-out;
}
#ph_number:focus {
  padding: 0.8vw 3vw;
}
#ph_number:focus + .login_phone_prefix {
  opacity: 1;
  left: 4vw;
}

#ph_number:not(:placeholder-shown) {
  opacity: 1;
  padding: 0.8vw 3vw;
}
#ph_number:not(:placeholder-shown) + .login_phone_prefix {
  opacity: 1;
  left: 4vw;
}

.login_text_a {
  font-size: 0.8vw !important;
  color: #000;
  font-weight: 600;
  pointer-events: stroke;
}

.last_info_message {
  margin-top: 3vw;
  font-size: 0.6vw;
  color: rgb(77, 77, 77);
  font-style: italic;
}

.overview_form {
  top: 10vw;
  transform: translate(-50%, 0%);
}

.overview_container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 25vw;
  gap: 1vw;
  margin-top: 3vw;
}

.overview_element {
  display: flex;
  width: 100%;
  height: 2vw;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.overview_desc_title {
  font-size: 0.9vw;
  width: 8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.overview_desc_input {
  text-align: left;
  width: 15vw;
  height: 2vw;
  overflow: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #cccccc62;
  padding: 0vw 1vw;
  flex-wrap: wrap;
  border-radius: 4px;
}
.overview_desc_input::-webkit-scrollbar {
  height: 0.21vw;
}
.overview_desc_input::-webkit-scrollbar-button {
  background: #ececec;
}
.overview_desc_input::-webkit-scrollbar-thumb {
  background: #d5d5d5;
}
.overview_desc_input::-webkit-scrollbar-thumb:hover {
  background: #7a7a7a;
}
.overview_desc_input::-webkit-scrollbar-track-piece {
  background: #5a515100;
}

.edit_icon_container {
  position: absolute;
  right: 2.8vw;
  /* padding: 1vw; */
  height: 2vw;
  width: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  color: #2e2e2e;
}

.edit_icon {
  font-size: 0.8vw !important;
  height: 0.8vw;
}

.edit_icon_container:hover .edit_icon {
  color: #000000;
  font-weight: 600;
}

.overview_input_ata {
  width: 17vw;
  border: transparent;
}

.overview_input_ata:disabled {
  color: #000;
}

.overview_desc_title #graduate_year {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.overview_element_qr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  margin-top: 1.4vw;
  gap: 2vw;
}
.title_qr {
  width: max-content;
  display: none;
}
.over_view_qr {
  width: 10vw;
  height: 10vw;

  width: 12vw;
  height: 12vw;
}

#down_but {
  opacity: 1;
}
