<!DOCTYPE html>
<html id="htmll">
  <head>
    <meta http-equiv="refresh" content="0.0;url={{url}}" />

    <meta charset="UTF-8" />

    <title>{{title}} | Takshashila 2023</title>

    <meta name="description" content="{{description}}" />
    <meta name="author" content="Chennai Institute Of Technology" />
    <meta
      name="keywords"
      content="{{title}}, TAKSHASHILA, CULTURAL, CIT, CHENNAI, SYMPOSIUM, EVENT, COLLEGE, COMPETITION, INSTITUTE, TECHNOLOGY, DESIGN"
    />

    <meta property="og:title" content="{{ title }} | Takshashila 2023" />
    <meta property="og:description" content="{{description}}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{image}}" />
    <meta property="og:url" content="{{url_2}}" />
    <meta property="og:site_name" content="CIT - Takshashila 2023" />
    <meta name="twitter:image:alt" content=" {{title}} | Takshashila 2023" />

    <meta name="twitter:title" content="{{ title }} | Takshashila 2023" />
    <meta name="twitter:description" content="{{description}}" />
    <meta name="twitter:image" content="{{image}}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@cittakshashila" />

    <meta name="revised" content="Takshashila, 7/3/2023" />
    <meta name="theme-color" content="#282828" />
    <link rel=icon type=image/x-icon href=/favicon.png>
    <link rel="apple-touch-icon" sizes="180x180" href="favicon.png" />
    <meta name="thumbnail" content="favicon.png" />

    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-RDPMEBQGBQ"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-RDPMEBQGBQ");
    </script>
  </head>
</html>
