<html>
  <header>
    <!-- Device properties -->
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- Website meta properties -->
    <title>{{title}} | Takshashila</title>
    <meta
      name="description"
      content="Takshashila, an event organized In regards to cultural event conducted in Chennai Institute Of Technology."
    />
    <meta name="author" content="Chennai Institute Of Technology" />
    <meta
      name="keywords"
      content="TAKSHASHILA, CULTURAL, CIT, CHENNAI, SYMPOSIUM, EVENT, COLLEGE, COMPETITION, INSTITUTE, TECHNOLOGY, DESIGN"
    />
    <meta name="revised" content="Takshashila, 7/2/2023" />

    <!-- OG properties -->
    <meta
      property="og:image"
      itemprop="image"
      content="./static/image/og_image.png"
    />
    <meta
      property="og:image:secure_url"
      itemprop="image"
      content="./static/image/og_image.png"
    />
    <meta property="og:type" content="website" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:url" content="./static/image/og_image.png" />
    <meta property="og:updated_time" content="2023-01-07T23:10:58-06:00" />
    <link itemprop="thumbnailUrl" href="./static/image/og_image.png" />
    <span
      itemprop="thumbnail"
      itemscope
      itemtype="http://schema.org/ImageObject"
    >
      <link itemprop="url" href="./static/image/og_image.png" />
    </span>

    <!-- Favicon Properties -->
    <link rel="shortcut icon" href="./static/image/favicon/favicon.ico" />
    <link
      rel="icon"
      sizes="16x16 32x32 64x64"
      href="./static/image/favicon/favicon.ico"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="196x196"
      href="./static/image/favicon/favicon-192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="160x160"
      href="./static/image/favicon/favicon-160.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="./static/image/favicon/favicon-96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="64x64"
      href="./static/image/favicon/favicon-64.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./static/image/favicon/favicon-32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./static/image/favicon/favicon-16.png"
    />
    <link rel="apple-touch-icon" href="./static/image/favicon/favicon-57.png" />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="./static/image/favicon/favicon-114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="./static/image/favicon/favicon-72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="./static/image/favicon/favicon-144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="./static/image/favicon/favicon-60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="./static/image/favicon/favicon-120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="./static/image/favicon/favicon-76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="./static/image/favicon/favicon-152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./static/image/favicon/favicon-180.png"
    />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta
      name="msapplication-TileImage"
      content="./static/image/favicon/favicon-144.png"
    />
    <meta
      name="msapplication-config"
      content="./static/image/favicon/browserconfig.xml"
    />

    <!-- External link properties -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />

    <script src="/static/js/script.js" type="text/javascript"></script>

    <link rel="stylesheet" href="../static/font-awesome.min.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </header>

  <!-- No script tag -->

  <body
    style="
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
      width: 100%;
      max-width: 700px;
    "
  >
    <div
      class="container_1"
      style="
        border: 0px solid black;
        height: 50%;
        padding: 20px;
        padding-bottom: 0vw;
      "
    >
      <div
        class="container_0"
        style="
          font-size: 21px;
          /* text-align: center; */
          font-family: monospace;
          font-style: inherit;
          font-weight: 800;
          color: black;
        "
      >
        {{title}} | CIT Takshashila
      </div>
      <div
        class="line1"
        style="
          /* text-align: center;*/
          padding: 10px;
          padding-left: 0px;
          color: black;
        "
      >
        _________________________
      </div>
      <br />
      <br />
      <div
        class="container_2"
        style="
          font-size: 14px;
          font-family: monospace;
          font-style: inherit;
          font-weight: 500;
          color: black;
        "
      >
        Hey {{ first_name }},<br />
        Thank you for registering an account with
        <a href="{{ domain }}" target="_blank" style="text-decoration: none"
          >Takshashila</a
        >. <br /><br />
        Please confirm that you want to use this email address
        <a
          href="mailto:{{ email }}"
          target="_blank"
          style="text-decoration: none; color: black"
          >(<i>{{ email }})</i></a
        >, <br />as your account Email Address.. Continue by clicking the
        confirmation button below.
      </div>
      <br /><br /><br />
      <br />
      <div class="container_3">
        <form
          action="{{ domain }}/registration_auth_link/{{ hash }}"
          class="form"
          method="POST"
          style="margin: 0px 0px 14px 0px"
        >
          <input
            type="hidden"
            id="remember-me"
            name="email"
            value="{{ email }}"
          />
          <input
            type="hidden"
            id="remember-me"
            name="hash"
            value="{{ hash }}"
          />
          <div style="/* text-align: center; */ height: 40px">
            <a
              class="button"
              type="submit"
              value="Confirm Email"
              href="{{link}}"
              target="_blank"
              style="
                color: white;
                background-color: rgb(12, 12, 12);
                padding: 14px 21px;
                border: 2px solid rgb(151, 151, 151);
                font-size: 16px;
                font-weight: 600;
                cursor: pointer;
                font-family: system-ui;
                /* text-decoration: none; */
              "
            >
              Confirm Email
            </a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
